NODE_ENV=development

# Where to store the playlist files
MEDIA_ROOT=./media

# Where is ffmpeg executable located. Run which ffmpeg
FFMPEG_PATH=/usr/bin/ffmpeg

# URL to notify when a stream starts
PUBLISH_START_NOTIFY_URL=

# URL to notify when a stream stoppes
PUBLISH_STOP_NOTIFY_URL=

STREAM_HOST=localhost:8080

REDIS_HOST=192.168.1.2
REDIS_PORT=6379

DATABASE=mongodb://mongodb:27017/playground