<script src="js/jquery.min.js"></script>
<script src="js/change.min.js"></script>
<script src="js/confetti.min.js"></script>
<script>
    const BASE_URL = '<%=streamHost%>';
    $(document).ready(function(){
        let picking = false;
        $winnerButton = $('.pick-winner');
        $winnerStopButton = $('.stop-winner');
        $winnerText = $('.winner-text');
        $winnerRoller = $('.winner-roller');
        let users = [];

        let rollingInterval;

        function toggleWinnerDisplay(show) {
            if (!show) {
                picking = true;
                $winnerText.addClass('hidden')
                $winnerButton.addClass('opacity-0 transform scale-0')
                $winnerStopButton.removeClass('opacity-0 transform scale-0')
            } else {
                picking = false;
                $winnerButton.removeClass('opacity-0 transform scale-0')
                $winnerStopButton.addClass('opacity-0 transform scale-0')
            }
        }
        function rollingWinner() {
            $winnerRoller.removeClass('hidden');
            $.ajax({
                type: "GET",
                url: BASE_URL+'/api/prize/list',
                dataType: 'json',
                success : (res) => {
                    if (res.status)
                    {
                        users = res.prizeList;
                        rollingInterval = setInterval(function(){
                            const rolled = chance.pickone(res.prizeAll);
                            $rUser = $("<div class=''>"+rolled.nik+"</div>")
                                .delay(50)
                                .queue(function(next) {
                                    $(this).remove();
                                    next();
                                });
                            $winnerRoller.prepend($rUser)
                        }, 100)
                    }
                }
            });
        }

        function pickWinner() {
            clearInterval(rollingInterval)
            const winner = chance.pickone(users);
            $winnerRoller.addClass('hidden');
            $winnerText
                .removeClass('hidden')
                .find('.name')
                .text(winner.nama);
            $winnerText
                .find('.perusahaan')
                .text(winner.perusahaan);
            $winnerText
                .find('.nik')
                .text(winner.nik);
            toggleWinnerDisplay(picking);

            $.ajax({
                type: "GET",
                url: BASE_URL+'/api/prize/win/' + winner._id+'/true',
                dataType: 'json',
                success : (res) => {
                    confetti.start();
                    setTimeout(function() {
                        confetti.stop()
                    }, 2000)
                }
            })
        }

        $('.pick-winner button', document).on('click', function() {
            toggleWinnerDisplay(picking);
            rollingWinner();
        })

        $('.stop-winner button', document).on('click', function() {
            pickWinner();
        })
    })
</script>