<%- contentFor('content') %>
<div class="rounded-lg overflow-hidden w-3/4 shadow-lg flex
            flex-col bg-white">
    <%- include('partials/_video') %>
</div>
<% if (liveChat == true) { %>
    <%- include('partials/_chat') %>
<% } else { %>
    <%- include('partials/_sidebar_counter') %>
<% } %>