<%- contentFor('content') %>
<div class="flex-none flex content-between justify-between mb-10">
    <div class="flex-1 text-right">
        <i class="fa fa-trophy fa-1x px-2 text-yellow-800 animate-pulse"></i>
        <i class="fa fa-trophy fa-1x px-2 text-yellow-700 animate-pulse"></i>
        <i class="fa fa-trophy fa-2x px-2 text-yellow-600 animate-pulse"></i>
        <i class="fa fa-trophy fa-3x px-2 text-yellow-500 animate-pulse"></i>
    </div>
    <h1 class="animate-bounce text-yellow-500 leading-tight font-bold text-3xl text-center flex-1">Door Prize</h1>
    <div class="flex-1">
        <i class="fa fa-trophy fa-3x px-2 text-yellow-500 animate-pulse"></i>
        <i class="fa fa-trophy fa-2x px-2 text-yellow-600 animate-pulse"></i>
        <i class="fa fa-trophy fa-1x px-2 text-yellow-700 animate-pulse"></i>
        <i class="fa fa-trophy fa-1x px-2 text-yellow-800 animate-pulse"></i>
    </div>
</div>
<div class="flex-1 flex flex-col">
    <h2 class="pb-2 text-center text-white text-lg font-bold">30 orang ikut di chating area streaming KIF 2020</h2>
    <h3 class="pb-10 text-center text-white text-md">Mereka mendapatkan kesempatan untuk mendapatkan doorprize pada acara ini</h3>
    <div class="prize-area flex-1 text-center">
        <div class="pick-winner">
            <button class="rounded-lg text-white p-4
        transition duration-500 ease-in-out bg-green-800
        hover:bg-yellow-500 hover:text-black
        shadow-lg appearance-none focus:outline-none
        transform hover:-translate-y-1 hover:scale-110">
                <i class="fa fa-trophy fa-1x px-2 text-yellow-500 animate-pulse"></i>
                Pilih Pemenang
                <i class="fa fa-trophy fa-1x px-2 text-yellow-500 animate-pulse"></i>
            </button>
        </div>
    </div>
</div>