<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KIF 2020 Live Streaming</title>
    <%- include('partials/_styles') %>
</head>
<body class="h-screen bg-gray-100">
<%- include('partials/_header') %>
<section>
    <div class="container px-5 pb-24 mx-auto flex flex-wrap">
        <%- content %>
    </div>
</section>
<%- include('partials/_footer') %>
</body>
</html>